<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include header.ejs %>
</head>
<body>
<form id="app">
    <div class="form-group">
        <label>分类名称</label>
        <input type="text" v-model="name" class="form-control" placeholder="分类名称">
    </div>
    <div class="form-group">
        <label>所属上级分类</label>
        <select class="form-control" v-model="practicemenuId">
            <option value="">请选择上级分类</option>
            <option :value="practicemenu.id" v-for="practicemenu in practicemenus">{{practicemenu.name}}</option>
        </select>
    </div>
    <button type="button" @click="add()" class="btn btn-default">新增</button>
</form>
<% include footer.ejs %>
</body>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            name:'',
            practicemenuId:'',
            practicemenus:[]
        },
        created:function () {
            const self = this;
            $.ajax({
                url: "/admin/practicemenu",
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    self.practicemenus=data.data
                },
                error: function (e) {
                    console.log(e)
                }
            });
        },
        methods:{
            add:function () {
                if(this.name=='' || this.practicemenuId==''){
                    return false;
                }
                $.ajax({
                    url: "practicemainmanu/add",
                    type: 'POST',
                    dataType: 'json',
                    data: {'name': this.name,'practicemenuId':this.practicemenuId},
                    success: function (data) {
                        console.log(data)
                    },
                    error: function (e) {
                        console.log(e)
                    }
                });
            }
        }
    })
    $(function () {

    })
</script>
</html>